/* All the commented code is from my previous attemp to create my own website for this class, I left it to potentially use it later! */

footer {
  font-size: 15px;
  display: Center;
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: rgb(244, 189, 189);
}

header {
  display: flex;
  font-size: 15px;
  color: rgb(0, 0, 0);
  align-content: center;
  background-color: beige;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  align-items: end;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: end;
}

h1 {
    font-size: 25px;
    background-color: rgba(0, 178, 249, 0.485);
    width: 500px;
    border: 1px solid black;
    margin-left: 20px;
}

body {
  background-color: rgb(201, 173, 230);
  margin: 0px;
}


p {
  background-color: rgb(178, 178, 178);
  padding: 10px;
  width: 215px;
  height: 156px;
  border: 1px solid;
}

header img {
  height: 150%;
  width: 80px;
  border: 1px solid;

}

.link {
  size-adjust: 10px;
}